html {
  background-image: url('../skulls.png');
  font-family: 'Varela Round', sans-serif;
}

body {
  margin: 0;
}

text {
  fill: white;
  text-anchor: middle;
  cursor: pointer;
}

.node rect {
  fill: steelblue;
  stroke: white;
  stroke-width: 3;
}

.node rect:hover {
  fill: #549FDE;
  cursor: pointer;
}

rect.condition {
  fill: #68948A;
  stroke: white;
  stroke-width: 3;
  margin-left: -75px;
  margin-top: -25px;
}

rect.condition:hover {
  fill: #93CFC1;
  cursor: pointer;
}

.condNode text {
  pointer-events: none;
}

circle {
  stroke: white;
  stroke-width: 3;
  cursor: pointer;
}

g.titleNode circle, 
g.titleNode text {
  cursor: default;
}

g.titleNode text {
  fill: white;
}

.category rect,
.category rect:hover {
  fill: steelblue;
}

line {
  fill: black;
  stroke: #777;
  stroke-width: 2px;
}

h2 {
  text-align: center;
  margin-top: 60px;
}

#canvas {
  width: 1500px;
  position: absolute;
  left: 50%;
  margin-left: -750px;
  margin-top: -200px;
}

.conditionGraph {
  width: 1500px;
  position: absolute;
  left: 50%;
  margin-left: -750px;
}

.typeGraph {
  position: absolute;
}

.back {
  position: relative;
  margin-top: 20px;
  width: 250px;
  left: 50%;
  margin-left: -135px;
  background: #999;
  color: white;
  padding: 10px 3px;
  border-radius: 15px;
  border: 3px solid white;
  font-size: 18px;
  cursor: pointer;
}

.back:hover {
  background: #aaa;
}

.back span {
  pointer-events: none;
  cursor: pointer;
}

.supplementLabel {
  fill: black;
}

.legend {
  position: absolute;
  display: block;
  left: 50%;
  top: 100px;
  /*background: #f8f6e0;*/
  margin-left: 350px;
  padding: 10px 15px;
  border-radius: 15px;
/*  border: 3px solid white;*/
  opacity: .8;
}

.indicators {
  text-align: center;
}

.evidence {
  display: block;
  margin-bottom: 33px;
  text-align: center;
}

.weak {
  font-size: 11px;
}

.strong {
  margin-left: 60px;
  font-size: 11px;
}

.evidenceSvg {
  position: absolute;
  margin-top: -100px;
  max-height: 100px;
}

.opacity {
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 7px;
  font-size: 11px;
}

.evidenceCircle {
  cursor: default;
}