html {
  background-image: url('../skulls.png');
  font-family: 'Varela Round', sans-serif;
}

body {
  margin: 0;
}

text {
  fill: white;
  text-anchor: middle;
  cursor: pointer;
}

.node rect {
  fill: steelblue;
  stroke: white;
  stroke-width: 3;
}

.node rect:hover {
  fill: #549FDE;
  cursor: pointer;
}

rect.condition {
  fill: #68948A;
  stroke: white;
  stroke-width: 3;
  margin-left: -75px;
  margin-top: -25px;
}

rect.condition:hover {
  fill: #93CFC1;
  cursor: pointer;
}

.condNode text {
  pointer-events: none;
}

.suppNode circle {
  stroke: white;
  stroke-width: 3;
  cursor: pointer;
}

.category rect,
.category rect:hover {
  fill: steelblue;
}

line {
  fill: black;
  stroke: #777;
  stroke-width: 2px;
}

h2 {
  text-align: center;
  margin-top: 60px;
}

#canvas {
  width: 1500px;
  position: absolute;
  left: 50%;
  margin-left: -750px;
  margin-top: -200px;
}

.conditionGraph {
  width: 1500px;
  position: absolute;
  left: 50%;
  margin-left: -750px;
}

.typeGraph {
  position: absolute;
}